.titulo {
   position: relative;
   text-align: justify;
   margin-left: 10px;
}
.cuerpo {
   text-align: justify;
   font-size: 18px;
}
.imagen {
   display: block;
   margin: auto;
   height: 250px;
   width: 300px;
}
