.modal-container{
    width: 500px;
    float: left;
    position: relative;
}
.ButtonBajaNoticia{
    cursor: pointer;
    background-color: red;
    padding: 5px;
    color: white;
    text-align: center;
    position: relative;
    float: left;
    font-family:Arial, Helvetica, sans-serif     
}

.ButtonAltaNoticia{
    cursor: pointer;
    background-color:green;
    padding: 5px;
    color: white;
    text-align: center;
    position: relative;
    float: left;
    font-family:Arial, Helvetica, sans-serif     
}

.titleModal{
    font-size: 20px;
    margin-top: 5px;    
}

.textModal{
    font-size: 18px;
    margin-top: 22px;
    font-family:Arial, Helvetica, sans-serif 
}