table {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.875rem;
    border: 2px solid #000; 
    width: 100%;
    text-align: center;
  }

  
  .row-table {      
    border: 2px solid rgb(15, 15, 15);
    padding: 2px;
    text-align: center;
    
  }

  .cell-table{
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    font-weight: bold; 
    color: black;
  }
 
  th.cell-table{
    text-align: center;
  }

  th.p{
    text-align: center;
  }

  .activo{
    color: green;    
    font-weight: bold;
    background-color: rgb(119, 212, 119);
    border-radius: 8px;
    padding:1px;
    text-align: center;
  }
  .inactivo{
   color: rgb(255, 0, 0);
   
   text-align: center;
   font-weight: bold;
   background-color: rgb(230, 82, 82);   
   border-radius: 8px;
   padding:1px;
  }

  .text-titulo{
    max-width:100px;
    height:5px;
    font-size:10pt;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tester{
    background-color: red;
  }

