//Colors
$green: green; 
$black: black; 
$blue: blue; 
$white: #ffffff;
$red: red;
$orange: orange; 
$wsmoke: whitesmoke; 
$primary: #5665C5; 
$danger: #d54040; 
$dark-grey: #363636;
$light-grey: #d8d8d8;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

//MAIN
$main-header: #282c34; 
$main-link: #61dafb; 


//BTN TABLE
$btn-create-bg: rgb(10, 131, 161);
$btn-create-hover: rgb(0, 140, 255); 


//FONTS  (TO DO)